*{
    text-decoration: none;
    color:#333;
    font-family: "HG正楷書体-PRO",cursive;
    
}
.head{
    position:fixed;
    background-color:white;
    top:0px;
    left:0px;
    width:100%;
}
.tab-group{
    display:flex;
    list-style-type: none;
}
.tab{
    width:200px;
    text-align: center;
    border-right: 1px solid #ddd;
    flex-grow: 1;
    padding:1vh;
    list-style:none;
    cursor:pointer;
}
.tab a{
    display:block;
}
.tab:first-child{
    border-left: 1px solid #ddd;
}
.tab.active-tab{
    background-color: aliceblue;
}
.content show{
    display:block;
}
h1{
    font-size:15px;
}
img{
    width:400px;
    height:300px;
}
.drink10 img{
    width:300px;
}
.d{
    width:500px;
    margin:50px auto 0px auto;
    background-color:white;
    margin-bottom:0px;
}
.nedan p{ 
    text-align: right;
    color:gray;
}
.nedan{
    margin-left:100px;
    width:500px;
    border-bottom:solid 1px gray;
}

.drink{
    text-align: center;
    
}
.food{
    text-align: center;
}
.content{
    display:none;
    margin-bottom:10px;
    width: 100%;
    border-top:solid 1px black;
    background-color: #f5f5f5;
}

.sec03{
    margin:0 auto;
}

.area {
    margin: auto;
    flex-wrap: wrap;
    display: flex;
 }
   
  .tab_class {
    width: calc(100%/4);
    height: 50px;
    color:gray;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
    margin-top:100px;
  }
   
  input[name="tab_name"] {
    display: none;
  }
   
  input:checked + .tab_class {
    color: black;
  }
  
   
  input:checked + .tab_class + .content {
    display: grid;
    grid-template-columns: 1fr 1fr ; 
    grid-template-rows: repeat(auto,1fr), 100px ;
    
  }



