*{
    text-decoration: none;
    color:#333;
    font-family: "HG正楷書体-PRO",cursive;
    
}
.head{
    position:fixed;
    background-color: white;
    top:0px;
    left:0px;
    width:100%;
}
.tab-group{
    display:flex;
    list-style-type: none;
}
.tab{
    width:200px;
    text-align: center;
    border-right: 1px solid #ddd;
    flex-grow: 1;
    padding:1vh;
    list-style:none;
    cursor:pointer;
}
.tab a{
    display:block;
}
.tab:first-child{
    border-left: 1px solid #ddd;
}
.tab.active-tab{
    background-color: aliceblue;
}
.content show{
    display:block;
}
h1{
    font-size:15px;
    margin-left:20px;
}
.sec1{
    text-align: center;
    margin-top:150px;
}
.sec1 img{
    width:1200px;
    margin:50px 0px 100px 0px;
}
.sec1 p{
    margin-top:50px;
}
.sec2{
    justify-content: center;
    display:flex;
    margin:100px 0px 100px 0px;
}
.sec2 .text1{
    align-items: center;
    justify-content: center;
    margin-right:100px;
}
.sec3{
    justify-content: center;
    display:flex;
    margin:100px 0px 100px 0px;
   
}
.sec3 .text2{
    align-items: center;
    justify-content: center;
    margin-left:100px;

}
.sec100{
    background-color: #f5f5f5;
}
.sec01{
    text-align: center;
    margin-bottom:100px;
}
.sec02{
    display:flex;
    text-align: center;
    justify-content: center;
    margin-bottom:150px;
}
.sec02 .text3{
    align-items: center;
    justify-content: center;
    padding:100px;
}
.sec03{
    text-align: center;
}
